
  <!-- Main -->
<div class="intro-2" style="">
    <!--Carousel Wrapper-->
<mdb-carousel [isControls]="true" [animation]="'slide'" [interval]="1500">
  <!--First slide-->
  <mdb-carousel-item >
      <img class="d-block" style="width: 100%" src="../../assets/1.jpg" alt="First slide">
  </mdb-carousel-item>
  <!--/First slide-->
  <!--Second slide-->
  <mdb-carousel-item>
      <img class="d-block" style="width: 100%;"  src="../../assets/2.jpg" alt="Second slide">
  </mdb-carousel-item>
  <!--/Second slide-->
  <!--Third slide-->
  <mdb-carousel-item>
      <img class="d-block" style="width: 100%;"  src="../../assets/3.jpg" alt="Third slide">
  </mdb-carousel-item>
  <!--/Third slide-->
</mdb-carousel>
<!--/.Carousel Wrapper-->
    <div class="full-bg-img">
      <div class="mask flex-center">
        <div class="container text-center white-text wow fadeInUp">
        </div>
      </div>
    </div>
  </div>
<main class="text-center py-5">

  <div class="container">
    <div class="row">
      <div class="col-md-12">

        <div class="row">
          <h2>Latest Photos</h2>
          <ul id="thumbnailslist">
            <li><img style="width: 60%" src="../../assets/4.jpg" class="tn col-md-5"></li>
            <li><img style="width: 60%" src="../../assets/5.jpg" class="tn col-md-5"></li>
            <li><img style="width: 60%" src="../../assets/6.jpg" class="tn col-md-5"></li>
            <li><img style="width: 60%" src="../../assets/7.jpg" class="tn col-md-5"></li>
            <li><img style="width: 60%" src="../../assets/8.jpg" class="tn col-md-5"></li>
            <li><img style="width: 60%" src="../../assets/9.jpg" class="tn col-md-5"></li>
            <li><img style="width: 60%" src="../../assets/10.jpg" class="tn col-md-5"></li>
            <li><img style="width: 60%" src="../../assets/11.jpg" class="tn col-md-5"></li>
          </ul>
        </div>

      </div>
    </div>
  </div>

</main>
<!--Main Layout-->
