
  <!-- Main -->
  <div class="intro-2" style="">
    <!--Carousel Wrapper-->
<mdb-carousel [isControls]="true" [animation]="'slide'" [interval]="1500">
  <!--First slide-->
  <mdb-carousel-item >
      <img class="d-block" style="width: 100% " src="../../assets/trial2.jpg" alt="First slide">
      <div class="carousel-caption">
          <h2><img src="../assets/Logo.jpeg" width="60%" style="display: block;margin-left: auto;margin-right: auto;width: 70%;opacity: 0.9;"></h2>
      </div>
  </mdb-carousel-item>
  <!--/First slide-->
  <!--Second slide-->
  <mdb-carousel-item>
      <img class="d-block" style="width: 120%;"  src="https://mdbootstrap.com/img/Photos/Slides/img%20(130).jpg" alt="Second slide">
      <div class="carousel-caption">
          <h2><img src="../assets/Logo.jpeg" width="60%" style="display: block;margin-left: auto;margin-right: auto;width: 70%;opacity: 0.9;"></h2>
      </div>
  </mdb-carousel-item>
  <!--/Second slide-->
  <!--Third slide-->
  <mdb-carousel-item>
      <img class="d-block" style="width: 120%;"  src="https://mdbootstrap.com/img/Photos/Slides/img%20(70).jpg" alt="Third slide">
      <div class="carousel-caption">
          <h2><img src="../assets/Logo.jpeg" width="60%" style="display: block;margin-left: auto;margin-right: auto;width: 70%;opacity: 0.9;"></h2>
      </div>
  </mdb-carousel-item>
  <!--/Third slide-->
</mdb-carousel>
<!--/.Carousel Wrapper-->
    <div class="full-bg-img">
      <div class="mask flex-center">
        <div class="container text-center white-text wow fadeInUp">
        </div>
      </div>
    </div>
  </div>
<main class="text-center py-5">

  <div class="container">
    <div class="row">
      <div class="col-md-12">

      </div>
    </div>
  </div>

</main>
<!--Main Layout-->
