<header class="h-100">
    <mdb-navbar SideClass="navbar fixed-top navbar-expand-lg navbar-light scrolling-navbar intro-fixed-nav " [containerInside]="true">
      <mdb-navbar-brand>
        <a class="logo navbar-brand" href="#">
          <img src="../assets/Logo.jpeg" width="200px">
        </a>
      </mdb-navbar-brand>
      <links class="linkclass">
        <ul class="navbar-nav mr-auto" style="font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif ">
          <li class="nav-item waves-light" mdbWavesEffect>
            <a href="#readmore" class="nav-link"><mdb-icon icon="smile-o" size="lg"></mdb-icon> ABOUT US
            </a>
          </li>
          <li class="nav-item waves-light" mdbWavesEffect>
            <a class="nav-link"><mdb-icon icon="diamond" size="lg"></mdb-icon> OUR TEAM</a>
          </li>
          <li class="nav-item waves-light" mdbWavesEffect>
            <a class="nav-link"><mdb-icon icon="comments-o" size="lg"></mdb-icon> CONTACT US</a>
          </li>
          <li class="nav-item waves-light" mdbWavesEffect>
              <a class="nav-link"><mdb-icon icon="instagram" size="lg"></mdb-icon></a>
          </li>
          <li class="nav-item waves-light" mdbWavesEffect>
              <a class="nav-link"><mdb-icon icon="youtube-play" size="lg"></mdb-icon></a>
          </li>
        </ul>
      </links>
    </mdb-navbar>
    <!-- Main -->
    <div class="view intro-2">
      <div class="full-bg-img">
        <div class="mask flex-center">
          <div class="container text-center white-text wow fadeInUp ">
            <h2><img src="../assets/Logo.jpeg" width="60%" style="display: block;margin-left: auto;margin-right: auto;width: 70%;opacity: 0.9;"></h2>
          </div>
        </div>
      </div>
    </div>
    <!-- /.Main -->
  </header>
  <!--Main Navigation-->

  <!--Main Layout-->
  <main class="text-center py-5">
    <a id="readmore" name="readmore"></a>
    <div class="section text-center">
      <div class="container">
        <div class="row">
            <div class="col-md-8 ml-auto mr-auto">

                <h2 class="title">A little bit about us...</h2>
                <h5 class="description"> कल्ला-kar is a family of like minded and strongly willed people, who are not afraid to voice their ideas and bring their talents to the world. We are a free-spirited group of individuals, with a desire to make our presence known by changing the world.</h5>
                <br>
                <h2 class="title">Our Initiatives</h2>
                <h5 class="description">We at कल्ला-kar, love doing things our own way.</h5>
                <br>
            </div>
        </div>
  <br><br>
  <div class="row">
  <div class="col-md-4">
    <div class="card">
      <img src="assets/Charity.jpeg" style="display: block;margin-left: auto;margin-right: auto;width: 86%;margin-top:10%">
      <div class="description">
        <h4 class="info-title" style="margin-top: 5%" >Charity</h4>
        <p class="description">An Initiative to help our fellow citizens who couldn't afford let alone new, just clothes</p>
        <a mdbBtn type="button" gradient="peach" size="lg" mdbWavesEffect style="color: white">Know More</a>
      </div>
    </div>
  </div>
  <div class="col-md-4">
    <div class="card">
      <img src="assets/RedDot.jpeg" style="display: block;margin-left: auto;margin-right: auto;width: 70%;margin-top:10%">
      <div class="description">
        <h4 class="info-title" style="margin-top: 5%">Bleeding Goddess</h4>
        <p>Bleeding Goddess, is a play to aknowledge people about the Red Dot Campaign.</p>
        <a mdbBtn type="button" gradient="peach" size="lg" mdbWavesEffect style="color: white">Know More</a>
      </div>
    </div>
  </div>


  <div class="col-md-4">
    <div class="card">
      <img src="assets/MehengayiiDayan.jpeg"style="display: block;margin-left: auto;margin-right: auto;width: 60%;margin-top:10%">
      <div class="description">
        <h4 class="info-title" style="margin-top: 5%">महंगाई डायन</h4>
        <p>महंगाई डायन (devil named inflation) is an act performed to address the price hike problems created by the government </p>
        <a mdbBtn type="button" gradient="peach" size="lg" mdbWavesEffect style="color: white">Know More</a>
      </div>
    </div>
  </div>
  </div>
    </div>
    </div>
  </main>
  <!--Main Layout-->

